@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="justify-content-center d-flex">
    <p class="text-align-center">
        Por favor revise su correo para restaurar su contraseña.
    </p>
</div>
