@model List<Comment>

@if (Model.Count > 0)
{
    foreach (var comment in Model)
    {
        <div>
            <p><strong>@comment.Email</strong> : @comment.Body</p>
        </div>
    }
}
else 
{
    <p class="text-muted">no hay comentarios disponibles.</p>
}

<form id="addCommentForm" data-publication-id="@ViewBag.PublicationId">
    <input type="text" id="commentText" name="commentText" placeholder="Escribe un comentario" />
    <button type="submit">Agregar</button>
</form>

<script>
    $(document).ready(function () {
        $("#addCommentForm").submit(function (e) {
            e.preventDefault();

            var publicationId = $(this).data("publication-id");
            var commentText = $("#commentText").val();
            console.log(commentText);
            console.log(publicationId);

            $.ajax({
                url: '/Home/AddComment',
                type: 'POST',
                data: { publicationId: publicationId, commentBody: commentText },
                success: function (result) {
                    $("#commentText").val("");  // Limpiar el campo de texto del comentario
                    $(".commentsContainer").html(result);  // Actualizar los comentarios en el contenedor
                },
                error: function () {
                    alert("Failed to add comment.");
                }
            });
        });
    });
</script>
