@model Weblog.Models.DTOs.Homepage

@{
    ViewData["Title"] = "Index";
}
<script>
    $(document).ready(function () {
        // Carga la vista parcial inicialmente
        loadPartialView(1);

        // Maneja el evento de clic en los enlaces de paginación
        $(document).on('click', '.pagination-link', function (e) {
            e.preventDefault();

            var pageNumber = $(this).data('page');

            // Carga la vista parcial de la página seleccionada
            loadPartialView(pageNumber);
        });
    });

    function loadPartialView(pageNumber) {
        var pageSize = 5; // Número de elementos por página

        $.ajax({
            url: '/Home/Pages',
            type: 'GET',
            data: { page: pageNumber },
            success: function (data) {
                // Actualiza el contenido de las publicaciones con los nuevos resultados
                $('#partialViewContainer').html(data);

                // Actualiza los enlaces de paginación activando el enlace correspondiente
                $('#pagination').find('.pagination-link').removeClass('active');
                $('#pagination').find('[data-page="' + pageNumber + '"]').addClass('active');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-9 left-section">
                <div id="partialViewContainer">
                    <div id="partialViewContainer"></div>
                </div>
            </div>
            <div class="col-lg-3 right-section">
                <h4>Autores</h4>
                <ul class="list-group">
                    @foreach (var author in Model.Authors)
                    {
                        <li class="list-group-item">
                            @{
                                var authorId = author.Id;
                            }
                            @Html.ActionLink(author.UserName, "PublicationsByAuthor", "Publications", new { authorId }, null)
                        </li>
                    }
                </ul>

                <h4 class="mt-4">Categorías</h4>
                <ul class="list-group">
                    @foreach (var category in Model.Categories)
                    {
                        <li class="list-group-item">
                            @{
                                var categoryId = category.Id;
                            }
                            @Html.ActionLink(category.Name, "PublicationsByCategory", "Publications", new { categoryId }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    

</body>