@*@{
    ViewData["Title"] = "Home Page";
}*@

<!DOCTYPE html>
<html>
<head>
    <title>Diario Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            @*@foreach (var item in Model) {*@
            <div class="col-lg-9 left-section">
                <div class="post">
                    <h2 class="post-title">Título de la publicación</h2>
                    <p class="text-muted">Fecha de publicación</p>
                    <img src="" alt="Imagen de la publicación" class="img-fluid mb-2">
                    <p class="post-summary">Resumen de la publicación</p>
                    <p class="text-muted">
                        Autor: <a class="author-link" href="#">Nombre del autor</a>
                        | <a href="#">Ver comentarios (X)</a>
                    </p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
                <!-- Otras publicaciones -->

                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 right-section">
                <h4>Autores</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a class="author-link" href="#">Autor 1</a></li>
                    <li class="list-group-item"><a class="author-link" href="#">Autor 2</a></li>
                    <li class="list-group-item"><a class="author-link" href="#">Autor 3</a></li>
                </ul>

                <h4 class="mt-4">Categorías</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a class="category-link" href="#">Categoría 1</a></li>
                    <li class="list-group-item"><a class="category-link" href="#">Categoría 2</a></li>
                    <li class="list-group-item"><a class="category-link" href="#">Categoría 3</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-9">
                <form class="comment-form">
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comentario</label>
                        <textarea class="form-control" id="comment" rows="3" maxlength="200" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar comentario</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
