@{
    ViewData["Title"] = "Index";
}

<h1>Administración</h1>

<ul>
    <li>
        <a class="nav-link text-dark" id="login" asp-controller="Administration" asp-action="Publications">Administrar publicaciones</a>
    </li>
    <li>
        <a class="nav-link text-dark" id="login" asp-controller="Administration" asp-action="Comments">Administrar comentarios</a>
    </li>
    <li>
        <a class="nav-link text-dark" id="login" asp-controller="Administration" asp-action="Authors">Administrar autores</a>
    </li>
    <li>
        <a class="nav-link text-dark" id="login" asp-controller="Administration" asp-action="Categories">Administrar categorias</a>
    </li>
</ul>