@{
    ViewData["Title"] = "Index";
}

<h1>Administración</h1>

<ul>
    <li>
        <a class="nav-link text-dark" id="login" asp-controller="Publications" asp-action="Index">Administrar publicaciones</a>
    </li>
    <li>
        <a class="nav-link text-dark" id="login" asp-controller="Comments" asp-action="Index">Administrar comentarios</a>
    </li>
    <li>
        <a class="nav-link text-dark" id="login" asp-controller="Authors" asp-action="Index">Administrar autores</a>
    </li>
    <li>
        <a class="nav-link text-dark" id="login" asp-controller="Categories" asp-action="Index">Administrar categorias</a>
    </li>
</ul>