@model Weblog.Models.Publication

@{
    ViewData["Title"] = "Create";
}

<h1>Crear una publicación</h1>
<hr />
<div class="row">
    <div class="col w-100">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w-100">
                <label asp-for="Title" class="control-label w-100">Título</label>
                <input asp-for="Title" class="form-control w-100" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group w-100">
                <input type="file" id="imageFile" name="imageFile" class="form-control" />
                <label asp-for="Image">Imagen</label>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group w-100">
                <label asp-for="Body" class="control-label w-100">Cuerpo</label>
                <textarea asp-for="Body" class="form-control w-100"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group w-100">
                <label for="Categories">Categorias</label>
                <select multiple class="form-control w-100" id="Categories" name="Categories">
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group w-100 m-3">
                <input type="submit" value="Crear" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Volver al menú</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
