html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.border-rounded {
    border-radius: 10px;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.left-section {
    width: 75%;
}

.right-section {
    width: 25%;
}

.post {
    border: 1px solid #eaeaea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-summary {
    margin-bottom: 10px;
}

.author-link,
.category-link {
    color: #007bff;
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
}

.comment-form {
    margin-top: 20px;
}

.index-image {
    width: 850px;
    height: 350px;
    padding-bottom: 10px;
}